.timeline-container {
    .name-wrap {
      font-family: "Roboto";
      font-style: normal;
      text-align: center;
      font-size: 16px;
      color: #000000;
      padding: 8px 0;

      &__course {
        font-weight: bold;
        text-transform: capitalize;
        padding-left: 15px;
        text-align: left;
      }
    }
  }
  