.pagination-container {
  margin: 12px 0;
  padding: 18px 0 17px;
  border-top: 1px solid #7298FF;
  border-bottom: 1px solid #CCCCCC;
  .pagination-controls {
    display: flex;
    .show-item-in-page {
      font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      color: #555555;
      margin-right: 104px;
    }
    .pagination-controls__button {
      cursor: default;
      font-family: Roboto;
      font-style: normal;
      font-size: 14px;
      color: #555555;
      margin-right: 4px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover:not(:active) {
        transition: transform 0.15s;
        transform: translateY(-1px);
      }
    }

    .pagination-controls__button--active {
      font-family: Roboto;
      font-weight: 700;
      color: #000000;

      &:hover,
      &:hover:not(:active) {
        transform: none;
      }
    }

    .disable-btn {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #555555;
      opacity: 0.2;
    }

    .change-page-previous-wrap {
      display: flex;
      margin-right: 31px;

      .btn-first {
        font-family: Roboto;
        font-style: normal;
        font-size: 14px;
        color: #555555;
        margin-right: 16px;
      }

      .btn-previous {
        font-family: Roboto;
        font-style: normal;
        font-size: 14px;
        color: #555555;
      }
    }

    .change-page-next-wrap {
      display: flex;
      margin-left: 31px;

      .btn-next {
        font-style: normal;
        font-size: 14px;
        color: #555555;
        margin-right: 16px;
      }

      .btn-last {
        font-style: normal;
        font-size: 14px;
        color: #555555;
      }
    }
  }
}
