.profile {
  max-width: 60%;
  margin: 0 auto;
  padding: 40px;
  position: relative;
  border-radius: 4px;
  border: 0.5px solid rgb(222, 222, 222);
  &__avatar {
    display: block;
    width: 45%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    .img-avatar-wrapper {
      display: block;
      width: 200px;
      height: 200px;
      border: 4px solid #ccc;;
      margin: 0 auto;
      padding: 10px;
      border-radius: 1px;
      .img-avatar {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 50%;
        background-color: rgb(222, 222, 222);
      }
    }
    
  }
  &__content {
    display: block;
    width: 50%;
    margin-left: 45%;
    p {
      display: block;
      line-height: 40px;
      margin: 0;
      color: rgb(144, 144, 144);
      strong {
        display: inline-block;
        width: 40%;
        text-align: right;
        color: rgb(117, 172, 202);
        margin-right: 20px;
      }
    }
  }
}