.user-deny-container {
  margin: 21px 28px;
  .name-wrap {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    padding: 8px 0;
  }
  .icon-wrap {
    text-align: center;
    .icon-check {
      width: 24px;
      height: 24px;
      color: #009933;
    }
    .icon-clear {
      width: 24px;
      height: 24px;
      color: #e60000;
    }
  }
}
