.choose-class-wrap {
  display: flex;
  justify-content: flex-end;
  padding: 0 28px;

  .title {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    min-height: 24px;
  }

  .button-down.button-down {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
  }

  .select-box {
    width: 240px;
    height: 40px;
  }
}