.chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .course-name {
    font-size: 24px;
    font-weight: bold;
  }
}
