.login {
  &__header-top {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #30add1;
  }
  &__header-content {
    width: 100%;
    height: 60px;
    color: rgb(169, 176, 181);
    background-color: rgb(246, 246, 246);
    .wrap-content-head{
      width: 80%;
      margin: 0 auto;
      position: relative;
      p {
        display: block;
        width: 40%;
        font-size: 25px;
        font-weight: 200;
        line-height: 60px;
        margin: 0;
      }
      .login__header-icon {
        display: block;
        width: 20%;
        position: absolute;
        top: 25%;
        right: 0;
        text-align: right;
        font-weight: 100;
        i {
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
    
  }
  position: relative;
  .login-form {
    display: block;
    width: 80%;
    border: 1px solid #30add1;
    border-left: 3px solid #30add1;
    padding: 25px;
    padding-left: 10%;
    padding-right: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 36%);
    &__title {
      color: #30add1;
      font-size: 30px;
      font-weight: 200;
    }
    .form-group {
      margin-left: 10%;
      margin-bottom: 10px;
      .label-login {
        display: inline-block;
        width: 30%;
      }
      .form-control {
        width: 50%;
        height: 35px;
        border: 1px solid #ccc;
        background-color: rgb(209, 221, 245);
        border-radius: 2px;
        padding-left: 5px;
      }
    }
    .btn-wrap {
      margin-left: 37%;
      .btn-login, .btn-cancel {
        width: 25%;
        height: 30px;
        border: 1px;
        border-radius: 3px;
      }
      .btn-login {
        background-color: #30add1;
        color: #fff;
        margin-right: 10px;
      }
      .btn-cancel {
        color: rgb(5, 111, 146);
      }
    }
    &__remember {
      display: block;
      width: 100%;
      margin-left: 37%;
      margin-top: 30px;
      font-size: 13px;
      font-weight: 600;
      .check {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
    .btn-reset-password {
      display: block;
      width: 30%;
      margin-left: 37%;
      margin-top: 40px;
      padding: 5px;
      border-radius: 3px;
      color: rgb(5, 111, 146);
    }
  }
}
